.text- {
    position: relative;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.text- img {
    position: absolute;
    top: 0;
    left: 350px;
    width: 90%;
    height: 100%;
    object-fit:contain;
    z-index: -1; /* Place the image behind the inputs */
}

.card {
    background-color: rgba(17, 67, 158, 0.8); 
    border: none;
    box-shadow: none;
}

.form-outline {
    margin-bottom: 15px;
}

.form-outline input[type="text"],
.form-outline input[type="email"],
.form-outline input[type="password"],
.form-outline input[type="tel"],
.form-outline textarea {
    border: none;
    border-bottom: 2px solid #0d41ba;
    border-radius: 0;
    padding: 10px 5px;
    background-color: transparent;
    outline: none;
    color: #000; /* Ensure text is visible */
}

.form-outline input:focus,
.form-outline textarea:focus {
    border-bottom: 2px solid #007bff;
}

h2 {
    font-weight: bold;
    text-align: center;
    color: #000; /* Ensure text is visible */
}

@media (min-width: 992px) {
    .card {
        width: 35%; /* Adjust the width of the input container on larger screens */
        padding: 10px;
        margin-left: 5%; /* Adjust as needed for positioning */
    }
}

@media (max-width: 991px) {
    .card {
        width: 100%;
        padding: 20px;
        color: #301cc6;
    }
}
